<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Beyondcoin [BYND] | Mining Calculator</title>
        <link rel="icon" href="https://cdn.beyondcoin.io/images/icon/favicon.ico" />

        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Beyondcoin | Mining Calculator" />
        <meta property="og:description" content="Mining calculator for Beyondcoin."/>
        <meta property="og:url" content="https://byndprofit.com/" />
        <meta property="og:site_name" content="Beyondcoin [BYND] |  Mining Calculator" />
        <meta property="og:image" content="https://byndprofit.com/img/bynd_logo.png" />
        <meta property="og:image:secure_url" content="https://byndprofit.com/img/bynd_logo.png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqi$" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.Default.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="main.js"></script>
        
        <!-- GOOGLE ANALYTICS -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142187073-11"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-142187073-11');
        </script>
        <!-- END GOOGLE ANALYTICS -->
    </head>
    <body>
        <div ng-app="app-calculator" ng-controller="mainController" ng-cloak>
            <div class="text-center" style="margin: 3em">
                <img style="max-height: 150px; max-width: 100%;" id="logo" src="img/bynd_logo.png">
                <h2>Beyondcoin Mining Profit Calculator</h2>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 text-center">
                    <form id="main-form" style="padding: 2em;" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Hashing Power:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input ng-model="hashingPower" type="number" style="width: auto; display: inline-block;" class="form-control" placeholder="10">
                                    <select ng-model="hashingUnitOptions.selectedHashingUnit"
                                            ng-options="unit.name for unit in hashingUnitOptions.availablehashingUnits track by unit.value"
                                            style="width: auto; display: inline-block;" class="selectpicker form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" >Power Draw(w):</label>
                            <div class="col-sm-10">
                                <input ng-model="machineWattage" type="number" class="form-control" placeholder="150W">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" >Power Cost(kWh):</label>
                            <div class="col-sm-10">
                                <input ng-model="powerCost" type="number" class="form-control" placeholder="0.12 kWh">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <table id="main-table" style="margin-left: auto; margin-right: auto;width: 100%;" class="table table-bordered table-striped">
                    <tr>
                        <th>Profit</th>
                        <th>BYND</th>
                        <th>USD</th>
                        <th>GBP</th>
                        <th>EUR</th>
                        <th>Power Cost</th>
                        <th>Profit</th>
                    </tr>
                    <tr>
                        <td>Per Day</td>
                        <td>&#x243; {{getBYNDPerDay()}}</td>
                        <td>$ {{getUSDPerDay()}}</td>
                        <td>$ {{getGBPPerDay()}}</td>
                        <td>$ {{getEURPerDay()}}</td>
                        <td>$ {{getPowerCostPerDay()}}</td>
                        <td>$ {{getProfitPerDay()}}</td>
                    </tr>
                    <tr>
                        <td>Per Week</td>
                        <td>&#x243; {{(getBYNDPerDay() * 7).toPrecision(2)}}</td>
                        <td>$ {{(getUSDPerDay() * 7).toFixed(2)}}</td>
                        <td>$ {{(getGBPPerDay() * 7).toFixed(2)}}</td>
                        <td>$ {{(getEURPerDay() * 7).toFixed(2)}}</td>
                        <td>$ {{(getPowerCostPerDay() * 7).toFixed(2)}}</td>
                        <td>$ {{(getProfitPerDay() * 7).toFixed(2)}}</td>
                    </tr>
                    <tr>
                        <td>Per Month</td>
                        <td>&#x243; {{(getBYNDPerDay() * 30).toPrecision(2)}}</td>
                        <td>$ {{(getUSDPerDay() * 30).toFixed(2)}}</td>
                        <td>$ {{(getGBPPerDay() * 30).toFixed(2)}}</td>
                        <td>$ {{(getEURPerDay() * 30).toFixed(2)}}</td>
                        <td>$ {{(getPowerCostPerDay() * 30).toFixed(2)}}</td>
                        <td>$ {{(getProfitPerDay() * 30).toFixed(2)}}</td>
                    </tr>
                    <tr>
                        <td>Per Year</td>
                        <td>&#x243; {{(getBYNDPerDay() * 365).toPrecision(2)}}</td>
                        <td>$ {{(getUSDPerDay() * 365).toFixed(2)}}</td>
                        <td>$ {{(getGBPPerDay() * 365).toFixed(2)}}</td>
                        <td>$ {{(getEURPerDay() * 365).toFixed(2)}}</td>
                        <td>$ {{(getPowerCostPerDay() * 365).toFixed(2)}}</td>
                        <td>$ {{(getProfitPerDay() * 365).toFixed(2)}}</td>
                    </tr>
                </table>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <hr />
                <center>
                    <h2>Start Mining Now at Beyondcoinpool.com!</h2>
                    <div class="btn-group btn-group-lg">
                        <div class="btn-group btn-group-lg"><a href="https://beyondcoinpool.com"><button type="button1" class="btn btn-success">Click here to visit the pool</button></a>    
                        <br>
                        </div>
                    </div>
                </center>
            <hr />
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 text-center">
                    <p style="max-width: 100%;">This data is based upon exchange rate data from
                        <a href="www.coingecko.com" target="_blank">coingecko.com</a> & network data from
                        <a href="www.byndexplorer.com" target="_blank">byndexplorer.com</a>. This information is also
                        based off a 50 block reward <a href="https://en.bitcoin.it/wiki/Controlled_supply#Projected_Bitcoins_Short_Term" target="_blank">which is subject to change at any time</a>.</p>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </body>
</html>
